/* MAIN */
body {
    background: #000000;
    padding-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ebebeb;
}

#background {
    background: url(../images/body_bg2.jpg) no-repeat top center;
    background-attachment: fixed;
    min-width: 850px;
}

.wrapper {
    width: 850px;
    background: url(../images/col_bak.png) repeat top left;
    padding-left: 30px;
    padding-right: 30px;
}

.orange {
    font-weight: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 100%;
    color: #e38a17;
}

.italic {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
}

a {
    color: #e38a17;
}

a:hover {
    color: #e38a17;
}

/* NAVIGATION */
#sidebar {
    float: right;
}

.panel {
    border: none;
    background: none;
}

ul.nav li {
    padding-top: 10px;
    padding-bottom: 5px;
}

ul.nav li a {
    font-size: 180%;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #ebebeb;
    padding: 20px 65px 10px 65px;
    border-top: 1px dotted #e38a17;
}

#tree-menu-- a {
    border-top: none;
    background: url(../images/home.png) no-repeat center left;
}

#tree-menu-contact a {
    background: url(../images/contact.png) no-repeat center left;
}

#tree-menu-blog a {
    background: url(../images/blog.png) no-repeat center left;
}

.panel {
    margin-bottom: 0px;
}

/* CONTENT */
#main {
    color: #ebebeb;
    width: 583px;
}

/* HOME */
.site, #end {
    border-top: 1px dotted #e38a17;
    margin: 20px 0 0 0;
    padding-top: 20px;
    width: 583px;
}

.screenshot {
    width: 583px;
}

.top {
    text-align: right;
}

.top a {
    background: url(../images/top.png) no-repeat center right;
    padding: 10px 35px;
}

/* CONTACT */
.form-actions {
    background-color: inherit;
    border-top: 1px dotted #e38a17;
}

.btn-primary {
    background-color: #e38a17;
    background-image: none;
    border-color: #e38a17;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #e38a17;
    border-color: #e38a17;
}

.control-label {
    color: #e38a17;
}

/* BLOG */
.blog-list-detail {
    border-bottom: 1px dotted #e38a17;
}

.blog-list-detail-end {
    border-bottom: none;
}

h2 a, h6 a, .blog-list-detail a, .blog-list-detail-end a {
    color: #e38a17;
}

.pager li a {
    background-color: #e38a17;
    color: #ebebeb;
}

.comment-author {
    background: inherit !important;
}

.comment-author a {
    color: #e38a17;
}

#comments li {
    background: none;
}

.tags a {
    color: #e38a17;
}

a.tag {
    color: #e38a17;
}

.p1 a {
    color: #e38a17;
}

/* BLOG NAVIGATION */
.panel-body {
    padding-left: 65px;
}

/*ul.blognav li h3 {
    font-size: 180%;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #ebebeb;
    padding: 20px 65px 0px 65px;
    margin-bottom: 0px;
    display: block;
}

ul.blognav a {
    color: #e38a17;
}

ul.blognav ul {
    list-style: none;
    margin-left: 0px;
    text-align: center;
}

#tree-menu-blog-archive {
    border-top: none;
    background: url(../images/archives.png) no-repeat center left;
}

#tree-menu-blog-feeds {
    background: url(../images/feeds.png) no-repeat center left;
}*/

/* FOOTER */
footer {
    background-color: #111111;
    margin-top: 0px;
    border-top: none;
}

footer div.container {
    color: #cccccc;
    width: 750px;
}

footer p.valid, footer p.cv, footer p.profiles {
    float: left;
    width: 195px;
    padding-left: 57px;
    margin-right: 57px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    font-size: small;
}

footer p.valid {
    background: url(../images/valid.gif) no-repeat top left;    
}

footer p.cv {
    background: url(../images/request_cv.gif) no-repeat top left;
}

footer p.profiles {
    background: url(../images/profiles.gif) no-repeat top left;
    margin-right: 0;
}

.standard_link a {
    color: #e38a17;
    font: italic 100% Georgia, "Times New Roman", Times, serif;
}